---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout>
	<h1 class="text-4xl font-bold">Nagarjuna Chamidisetty</h1>
	<p class="mt-4 text-lg text-gray-600">
		Engineer and lifelong learner.
	</p>
</BaseLayout>
